@font-face {
  font-family: "Press Start 2P";
  src: url(fonts/Press_Start_2P/PressStart2P.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --section-background: #181421;
  --menu-tittle-color: #77ffc0;
  --nav-background: #201b2c;
  --p-color: #fff;
  --selection-color: #3a314e;
}

body {
  background: var(--section-background);
  font-family: "Ubuntu", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  padding-left: 100px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 9px solid rgb(87, 85, 85);
  background: rgb(86, 85, 85);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-background);
  height: 8vh;
  width: 100%;
}

header label.logo a {
  margin-inline: 80px;
  cursor: pointer;
  color: var(--menu-tittle-color);
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  display: inline-block;
  transition: 0.3s ease-in-out;
}

header label.logo a:hover,
header label.logo a:focus,
header label.logo a:active {
  transform: scale(0.9);
}

nav {
  float: right;
  margin-inline: 20px;
}

nav ul li {
  display: inline-flex;
  margin-inline: 5px;
}

/* ANIMAÇÃO DO MENU */

nav ul li a {
  position: relative;
  color: var(--menu-tittle-color);
  font-size: 17px;
  text-transform: uppercase;
  transition-duration: 0.25s;
  transform: perspective(1px) translateZ(0);
}

nav ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--menu-tittle-color);
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

nav ul li a:hover:before,
nav ul li a:focus:before,
nav ul li a:active:before {
  left: 0;
  right: 0;
}

.checkbtn {
  color: var(--menu-tittle-color);
  line-height: 8vh;
  font-size: 30px;
  margin-inline: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

h1,
h2 {
  font-family: "Press Start 2P", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

section {
  margin: 40px 20%;
}

section h1 {
  color: var(--menu-tittle-color);
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 15px;
}

section h2 {
  word-wrap: break-word;
  color: var(--menu-tittle-color);
  font-size: 20px;
  line-height: 30px;
  font-family: "Press Start 2P", Arial, sans-serif;
  margin: 20px 0 10px 0;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-origin: 0 100%;
}

h2:hover,
h2:active {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}

section p {
  color: var(--p-color);
  font-size: 20px;
  text-align: left;
  line-height: 26px;
  margin-bottom: 15px;
}

button#phishingBtn {
  cursor: pointer;
  background: transparent;
  color: var(--menu-tittle-color);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 1px solid var(--menu-tittle-color);
  box-shadow: 0 0 5px var(--menu-tittle-color),
    0 0 5px var(--menu-tittle-color) inset;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

button#phishingBtn:hover,
button#phishingBtn:focus {
  text-shadow: 0 0 20px var(--menu-tittle-color),
    0 0 50px var(--menu-tittle-color), 0 0 75px var(--menu-tittle-color);
}

::selection {
  background: var(--selection-color);
}

@media (max-width: 1135px) {
  section {
    margin: 40px 15%;
  }
}

@media (max-width: 975px) {
  header label.logo a {
    font-size: 25px;
    margin-inline: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  section {
    margin: 30px 10%;
  }

  section h1 {
    font-size: 35px;
  }

  section p {
    font-size: 18px;
  }
}

@media (max-width: 910px) {
  .checkbtn {
    display: block;
  }

  .checkbtn:hover {
    color: var(--p-color);
    transition: all 0.8s;
  }

  nav{
    margin-inline: 5px;
  }

  nav ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #100e16;
    top: 8vh;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  ul li a {
    height: 8vh;
  }

  #check:checked ~ ul {
    left: 0;
  }

  section {
    margin: 25px 10%;
  }

  section h1{
    line-height: 40px;
  }
}

@media (max-width: 550px) {
  header label.logo a {
    margin-inline: 40px;
  }

  section {
    margin: 25px 5%;
  }

  section h1 {
    font-size: 25px;
    line-height: 35px;
  }

  section p {
    font-size: 16px;
  }
}
