* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
  background: #181421;
}

#check {
  display: none;
}

table {
  margin: 4vh 0;
  width: 100%;
}

td {
  border: 4px solid #77ffc0;
  border-radius: 50px;
}

tr {
  background-color: #0e0b13;
}

.img {
  border-radius: 100%;
  width: 160px;
}

.img img {
  width: 160px;
  border-radius: 100%;
}

.name {
  padding: 0px 5px;
  font-size: 23px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Press Start 2P", Arial, sans-serif;
  line-height: 25px;
}

.sub {
  font-size: 20px;
  color: #77ffc0;
  letter-spacing: 2px;
  font-weight: lighter;
  text-align: center;
}

@media (max-width: 952px) {
  .img {
    border-radius: 100%;
    width: 140px;
  }

  .img img {
    width: 140px;
    border-radius: 100%;
  }
}

@media (max-width: 858px) {
  .img {
    border-radius: 50%;
    width: 140px;
  }

  .img img {
    width: 140px;
    border-radius: 100%;
  }

  td.name {
    text-align: center;
    font-size: 19px;
    line-height: 25px;
    padding: 1vh;
  }

  .sub {
    font-size: 15px;
    color: #77ffc0;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    line-height: 21px;
  }
}
