.members {
  margin: 25px 0;
  display: flex;
  gap: 25px;
  width: 100%;
  height: 150px;
  align-items: center;
}

.member-profile img {
  width: 150px;
  border-radius: 50%;
}

.member-inf {
  width: 100%;
  padding: 25px;
  background: #201b2c;
  border-radius: 20px;
}

.member-inf .member-name h2 {
  font-size: 25px;
  margin: 5px 0;
}

.member-inf .member-git {
  display: flex;
  align-items: center;
  gap: 5px;
}

.member-inf .member-git i {
  font-size: 20px;
  color: #fff;
}

.member-inf .member-git a {
  text-decoration: underline;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 550px) {
  .members {
    gap: 15px;
    margin: 20px 0;
  }

  .member-inf .member-name h2 {
    font-size: 20px;
  }

  .member-inf .member-git i {
    font-size: 18px;
  }

  .member-inf .member-git a {
    font-size: 18px;
  }

  .member-profile img {
    width: 100px;
  }
}

@media (max-width: 375px){
  .members {
    gap: 5px;
    margin: 20px 0;
  }

  .member-inf .member-name h2 {
    font-size: 18px;
  }

  .member-inf .member-git i {
    font-size: 16px;
  }

  .member-inf .member-git a {
    font-size: 16px;
  }

  .member-inf {
    padding: 15px;
    background: #201b2c;
    border-radius: 20px;
  }


}
